<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="h3">Admin Dashboard</h1>
                </div>
                <div class="card-body">
                    <p>There are currently <strong><%= @product_count %></strong> 
                    <%= link_to 'Products', [:admin, :products]%>
                    in the store in <strong><%= @categories_count %></strong>
                      <%= link_to 'Categories', [:admin, :categories]%></p>
                </div>
            </div>
        </div>
    </div>
</div>