<div class="container mt-5">
    <h1 class="mb-4">About Us</h1>
    
    <div class="card mb-3">
        <div class="card-body">
            <p class="card-text">We are a locally owned plant-based business dedicated to bringing the best of nature into your home!</p>
        </div>
    </div>
    
    <div class="card mb-3">
        <div class="card-body">
            <p class="card-text">Through environmental stewardship and a deep-seated love for plants, we strive to improve your living spaces with the finest Evergreens, Shrubs, and Trees.</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <p class="card-text">Our dedication goes even further into providing complete care instructions for all of your plant needs as well as continued plant advice available at a moment's notice!</p>
        </div>
    </div>
</div>